body {
  background-color: lightyellow;
  background: #087ba8;
background: linear-gradient(90deg, rgba(8, 123, 168, 1) 7%, rgba(87, 199, 133, 1) 54%, rgba(191, 172, 0, 1) 100%);
}

div{
	filter: invert(100%);
}